<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Free Cinema</title>
    <link rel="stylesheet" href="/css/filmStyle.css">
</head>
<body>
    <div th:insert="~{header :: header}"></div>

    <section class="previews">
        <div class="name" th:each="preview : ${previews}" style="border: 3px solid rgb(255, 255, 255); width: 220px; height: 350px; margin-left: 265pt; margin-top: 50pt; text-align: center; float: left;">
                <a th:href="'/film/videos/' + ${preview.id}" th:text="${preview.title}"></a>
                <img th:href="'/film/videos/' + ${preview.id}" th:src="${preview.picture}">
                <p th:href="'/film/videos/' + ${preview.id}" th:text="${preview.theme}"></p>
        </div>
    </section> 

    <div th:insert="~{footer :: footer}"></div>
        <script src="/JS/scripts.js"></script>  
</body>
</html>