<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Free Cinema</title>
    <link rel="stylesheet" href="/css/filmStyle.css">
</head>
<body>
    <div th:insert="~{header :: header}"></div>
    <form method="get" th:object="${film}">
        <section class="video">
            <div style="text-align: center;" class="player">
                <ul style="text-align: center;">
                    <tr class="name" th:each="video : ${videos}">
                        <h3 style="font-size: 24px; color: white; text-align: center" th:text="${video.title}"></h3>
                        <video th:src="${video.link}" controls></video>
                    </tr>
                </ul>
            </div>
            </section>
    </form>
        <div th:insert="~{footer :: footer}"></div>
        <script src="/JS/scripts.js"></script>
</body>
</html>