<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Free Cinema</title>
    <link rel="stylesheet" href="/css/homeStyle.css">
</head>
<body>
    <footer>
    <div class="strel">
    </div>
    <div class="footer">
        <a href="#" class="sprav">Справка</a>
        <img src="/images/VkIcon.png" alt="" class="vk">
        <a href="#" class="pred">Предложения</a>
    </div>
</footer>
</body>
