
    <header class="header">
    <div class="nav">
        <a href="/" class="glafstr"><img src="/images/Logo.png" class="logo" id="logo"></a>

        <form action="/search" method="POST">
            <label for="title">Search:</label>
            <input type="text" name="title" id="title">
            <button type="submit">Search</button>
        </form>

            <a href="/catalog" class="menu" id="menu">
                Каталог
            </a>
        
            <a href="#" class="menu">
                Библиотека
            </a>
            <a href="/auth"><img src="/images/Rectangle 4.png" alt="" class="akk"></a>
    </div>
    </header>

