<header class="header">
    <div class="nav">
        <a href="/" class="glafstr"><img src="/images/Logo.png" class="logo" id="logo"></a>
        <form action="#" class="gde">
        <input type="text" placeholder="Поиск.." name="search" class="gde">
        <button type="submit">Отправить</button>
      </form>
            <a href="/catalog" class="menu" id="menu">
                Каталог
            </a>
        
            <a href="#" class="menu">
                Библиотека
            </a>
       
            <a href="#" class="menu">
                Войти
            </a>
            <img src="/images/Rectangle 4.png" alt="" class="akk">
    </div>
    </header>