<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Free Cinema</title>
    <link rel="stylesheet" href="/css/homeStyle.css">
</head>
<body>
    <header class="header">
    <div class="nav">
        <a href="/" class="glafstr"><img src="/images/Logo.png" class="logo" id="logo"></a>
        <form action="#" class="gde">
        <input type="text" placeholder="Поиск.." name="search" class="gde">
        <button type="submit">Отправить</button>
      </form>
            <a href="/catalog" class="menu" id="menu">
                Каталог
            </a>
        
            <a href="#" class="menu">
                Библиотека
            </a>
            <a href="/registration"><img src="/images/Rectangle 4.png" alt="" class="akk"></a>
    </div>
    </header>
</body>
