<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Free Cinema</title>
    <link rel="stylesheet" type="text/css" href="/css/homeStyle.css">
</head>
<body>
    <div th:insert="~{header :: header}"></div>
   <section class="kruto">
    <div class="two">
        <p class="small">Free cinema - сайт для просмотра фильмов и сериалов бесплатно</p>
    </div>
    </section>
    <section class="top">
        <p class="day">Топ дня</p>
        <div class="case">

        </div>
    </section>
    <section class="poisk">
        <p class="peps">Подбери мне фильм</p>
        <div class="wrapper">
            <div class="box">
                
            </div>
        </div>
    </section>
    <div th:insert="~{footer :: footer}"></div>
</body>
</html>