<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Free Cinema</title>
    <link rel="stylesheet" href="/css/filmStyle.css">
</head>
<body>
    <div th:insert="~{header :: header}"></div>

    <form method="post" th:object="${user}">
            <div>
                <h3>username</h3>
                <input th:field="*{username}" type="text">
            </div>
            <div>
                <h3>password</h3>
                <input th:type="password" th:field="*{password}" type="text">
            </div>

            <button>Добавить</button>
    </form>

        <div th:insert="~{footer :: footer}"></div>
</body>
</html>